body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9f802b;
}
header {
    background-color: #4b6c2e;
    color: #79d749;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #945050;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #ad3cad;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #a11818;
    color: black;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #3599af;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
